
*.ipch
*.db

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.pdb

*.rs.bk

*\obj

*\.vs

*.bin

Rust/debug/
Rust/target/

x64/

ASM/

bin/

Unreal/SourceArt/**/*.png
Unreal/SourceArt/**/*.tga

Unreal/Binaries/*
Unreal/Plugins/*/Binaries/*

Unreal/Build/*

!Unreal/Build/*/
Unreal/Build/*/**
Unreal/!Unreal/Build/*/PakBlacklist*.txt

!Unreal/Build/**/*.ico

Unreal/*_BuiltData.uasset

Unreal/Saved/*

Unreal/Intermediate/*
Unreal/Plugins/*/Intermediate/*

Unreal/DerivedDataCache/*
Unreal/HSRer.sln
